
.icon-heart:before { content: '\e800'; } /* '' */
.icon-loop:before { content: '\e801'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
